.gallery{
    columns: 4;
    padding:0 15px;
    margin:0;
}
    
.gallery li {
    margin-bottom: 10px;
    list-style:none;
}
.gallery img{
    width:100%;
    height:auto;
    vertical-align: bottom;
}
    @media only screen and (max-width: 900px) {
        .gallery{
        columns:3;
        }	
    }
    
    @media only screen and (max-width: 768px) {
        .gallery{
        columns: 2;
        }	
    }